<div class="hero">
  <p class="large brandon">heirloom cutlery co. is coming</p>
  <p class="small brandon">Changing How you buy cutlery<br>Since Like...Right Now.</p>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>